@media screen and (max-width:760px){
 
    
    header{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    li{
        display: inline-block;
        margin-top: 20px;
    }
   ul{
    text-align: center;
   }
    main{
        flex-direction: column;
        align-items:center
    }
    h2{
        font-size: 45px;
        flex-direction: column;
        margin: 0 auto;
    }
    
    form{
        margin: 0 auto;
    }
    img{
        max-width: 300px;
    }
    /*section contato*/
    .contato{
        font-size: 25px;
    }
    .paragrafo{
        font-size: 20px;
        font-weight: 600;
    }
    .botao-whatsapp{
        display: block;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        width: 40%;
        border-radius: 20px;
        line-height: 15px;
        margin-top: 20px;
    }
}
