* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    color: #ffff;
    font-family: pantonregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

/*cabecalho*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

#title {
    flex-direction: column;
    line-height: 40px;
    font-size: 40px;
}

li {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    padding: 5px;

}

a {
    color: #ffff;
    font-family: pantonlight;
}

a:hover {
    color: rgb(167, 28, 28);
    transition: 0.3s all;
}

#increva-se-btn {
    border: 2px solid rgb(167, 28, 28);
    padding: 15px;
    border-radius: 20px;
}
#increva-se-btn:hover {
   background-color: rgb(167, 28, 28);
   color: #ffff;
}


h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 80px;
    font-family: pantonmedium;
}

span {
    color: rgb(167, 28, 28);
}

p {
    line-height: 30px;
    max-width: 600px;
    font-family: pantonlight;
    font-weight: 600;
    width: 400px;
}

img {
    width: 400px;
    animation: pulse 1s ease-in-out infinite;
}
form{
    display: flex;
    flex-direction: column;
    width: 65%;
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(167, 28, 28);
    color:#ffff;
    font-weight: bold;
}
form [type="submit"]:hover{
   cursor: pointer;
   background-color: white;
   color:rgb(167, 28, 28);
   transition: 0.3s;
   
}
input{
    margin-top: 15px;
    height: 30px;
    padding: 15px;
    border-radius: 20px;
    border: none;

}
/*animação*/
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
/*section contato*/
section{
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
}
h3 .contato{
    font-weight: 600;
    margin-top: 40px;
    font-family: pantonmedium;
}

.paragrafo{
    font-size: 30px;
    font-weight: 200;
    line-height: 50px;
    text-align: center;
margin: 0 auto;
}
.botao-whatsapp {
    display: block;
    padding: 10px 20px;
    background-color: #10853b;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    margin: auto;
    width: 30%;
    font-size: 20px;
}

.botao-whatsapp:hover {
    background-color: #f7f7f7;
    color: #000;
}
/*cadastro*/
.cadastro{
    text-align: center;

}
.cadastro h3{
  margin-top: 50px;
  font-family: pantonbold;
}
.cadastro form{
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    margin: 0 auto;
}
.cadastro form [type="submit"]{
    margin: 0 auto;
    margin-top: 30px;
    width: 70%;
    font-weight: bold;
    font-size: 15px;
}
/*serviço*/
.SERVIÇO{
    font-size: 60px;
    font-weight: 600;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 800;
}
main h3{
    font-size: 50px;    
    line-height: 60px;
}
.desevolvimento p{
    text-align: center;
    width: 500px;
    line-height: 40px;
    font-size: 25px;
}
.desevolvimento h3{
    color: rgb(167, 28, 28);
}
.beneficios h3{
    color: rgb(167, 28, 28);
}
.beneficios p{
    text-align: center;
    width: 500px;
    line-height: 40px;
    font-size: 20px;
}