* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    color: #ffff;
    font-family: pantonregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

/*cabecalho*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

#title {
    flex-direction: column;
    line-height: 40px;
    font-size: 40px;
}

li {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    padding: 5px;

}

a {
    color: #ffff;
    font-family: pantonlight;
}

a:hover {
    color: rgb(167, 28, 28);
    transition: 0.3s all;
}

#increva-se-btn {
    border: 2px solid rgb(167, 28, 28);
    padding: 15px;
    border-radius: 20px;
}
#increva-se-btn:hover {
   background-color: rgb(167, 28, 28);
   color: #ffff;
}


h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 80px;
    font-family: pantonmedium;
}

span {
    color: rgb(167, 28, 28);
}

p {
    line-height: 25px;
    max-width: 400px;
    font-family: pantonlight;
    font-weight: 400;
}

img {
    width: 400px;
    animation: pulse 1s ease-in-out infinite;
}
form{
    display: flex;
    flex-direction: column;
    width: 65%;
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(167, 28, 28);
    color:#ffff;
    font-weight: bold;
}
form [type="submit"]:hover{
   cursor: pointer;
   background-color: white;
   color:rgb(167, 28, 28);
   transition: 0.3s;
   
}
input{
    margin-top: 15px;
    height: 30px;
    padding: 15px;
    border-radius: 20px;
    border: none;

}
/*animação*/
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}